<style>
    .users-setting {
        height: 100vh;
    }
    
    .r-1 {
        width: 20%;
        padding-top: 3rem !important;
    }

    .r-1 .div {
        width: 100%;
    }

    .r-1 .div span {
        text-decoration: unset !important;
        color: rgb(129 128 128);
        display: block;
        cursor: pointer;
    }

    .r-1 .div span:hover {
        background-color: rgba(0, 0, 0, 0.226) !important;
    }
    
    .r-2 {
        width: 100%;
        overflow-y: scroll;
    }
</style>

<div class="users-setting d-flex cek">
    <div class="r-1 cek">
        <div class="div mt-3">
            <p class="mt-0 h6 p-2">Setting</p>
        </div>
        <div class="div">
            <span class="p-2 active">Profile</span>
            <span name="2" class="p-2">Profile</span>
            <span name="3" class="p-2">Profile</span>
        </div>
    </div>
    <div class="r-2 p-3 cek">
    </div>
</div>