<!-- <div class="users-setting d-flex cek">
    <div class="r-1">
        <div class="div mt-3">
            <p class="mt-0 h6 p-2">Setting</p>
        </div>
        <div class="div">
            <span class="p-2 active">Profile</span>
            <span name="2" class="p-2">Profile</span>
            <span name="3" class="p-2">Profile</span>
        </div>
    </div>
    <div class="r-2 p-3">
        <div class="container p-relative cek">
            <div class="set-profile p-absolute cek">
                
            </div>
        </div>
    </div>
</div> -->

<div class="container py-4 px-5">
    <p class="pop-bold m-0 mt-3 h4">Profil Kamu</p>
    <hr>
    <div class="set-continer cek d-flex">
        <div class="set-image align-self-center cek">
            <img src="/users_images/default.jpg" alt="profile" class="cek">
        </div>
        <div class="form-card w-100 p-5 cek">
            <form>
                <div class="mb-3">
                    <label for="image" class="form-label">Profil</label>
                    <input name="image" type="file" class="form-control" id="image">
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Nama</label>
                    <input name="name" type="text" class="form-control" id="name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input name="email" type="text" class="form-control" id="email">
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Alamat Domisili</label>
                    <input name="address" type="text" class="form-control" id="address">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>