<div class="top-container w-100 p-relative bg-smoke p-4" style="background: linear-gradient(45deg, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url('<%="/m-images/indonesia.webp"%>')">
    <span id="top-close" class="btn-span p-absolute close h5 font-white text-center p-2 dark-shadow cek">X</span>
    <div class="top-inner p-absolute w-50 py-5 me-shadow">
        <p class="h2 mb font-white text-center pop-bold">Dokumentasi Festival<br>Hari Ulang Tahun<br>Republik Indonesia ke-77</p>
    </div>
</div>