<div class="top-container w-100 p-absolute bg-smoke p-4">
    <span id="top-close" class="btn-span close h5 p-absolute p-3">X</span>
    <div class="top-inner px-5 py-3 cek">
        <p class="h3 mb">Home Top</p>
    </div>
</div>