@font-face {
    font-family: 'poppins_bold';
    /* src: url('http://127.0.0.1:3000/fonts/poppins-bold-webfont.woff'); */
    src: url('https://festival-hut-ri.herokuapp.com/fonts/poppins-bold-webfont.woff');
}

@font-face {
    font-family: 'poppins';
    /* src: url('http://127.0.0.1:3000/fonts/poppins-regular-webfont.woff'); */
    src: url('https://festival-hut-ri.herokuapp.com/fonts/poppins-regular-webfont.woff');
}